/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway-Regular';
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/* fonts */

@font-face{
    font-family: 'Raleway-regular';
    src: url('/fonts/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'Raleway-medium';
    src: url('/fonts/Raleway-Medium.ttf');
}

@font-face{
    font-family: 'Raleway-bold';
    src: url('/fonts/Raleway-Bold.ttf');
}

@font-face{
    font-family: 'Raleway-semibold';
    src: url('/fonts/Raleway-SemiBold.ttf');
}

@font-face{
    font-family: 'Raleway-black';
    src: url('/fonts/Raleway-Black.ttf');
}

/* colors */

:root {
    --primary: #FE5F1E;
    --primary-hover: #b23301;
    --secondary: #232B38;
    --ternary: #6C6C6C;
    --ternarybg: #d8d1d11c;
    --lightgray: #eee;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;
    --white: #FFFFFF;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


header.topbar{
    background: var(--primary);
    padding: 0.75rem 0;
}

header.topbar .icons a{
    margin-right: 0.6rem;
}

.hide{
    display: none !important;
}

.flex{
    display: flex;
}

.justifyBetween{
    justify-content: space-between;
}

.justifyCenter{
    justify-content: center;
}

.itemsCenter{
    align-items: center;
}

nav .top{
    padding: 1.5rem 0;
}

.contact img,
.time img{
    height: 25px;
}

nav .top .contact h5, nav .top .time h5{
    font-family: 'Raleway-black';
    margin-bottom: 0.25rem;
}

nav .top .contact h6, nav .top .time h6{
    font-family: 'Raleway-medium';
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
}

nav .top .contact img, nav .top .time img{
    margin-right: 1rem;
}

nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: 'Raleway-semibold';
    font-size: 1rem;
    padding: 1.5rem 1rem;
    transition: all .3s ease;
    --webkit-transition: all .3s ease;
    margin: 10px;
}

nav .navbar a:hover{
    color: var(--primary);
}

.shadow{
    position: relative;
    background: var(--white);
}

.shadow:after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(/icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -21px;
    z-index: -1;
}

.iconCart {
    display: block;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-image: url(/icons/cart.svg);
    transform: scale(0.8,0.6);
    cursor: pointer;
    padding: 1.5rem 1rem;
}

.iconCart:hover,
.iconCart:focus {
    display: block;
    background-image: url(/icons/cart-1.svg);
    height: 5rem;
    width: 5rem;
    background-size: cover;
    transform: scale(0.8,0.6);
    padding: 1.5rem 1rem;
}

header.topbarOne{
    height: 500px;
    background-image: url(/images/site/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    overflow: hidden;
}

.topbarOne .container h1{
    color: var(--white);
    font-family: 'Raleway-Bold';
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}

.topbarOne .container h1 span{
    color: var(--primary);
}

.topbarOne .container span{
    color: var(--white);
}

.topbarOne .container p{
    color: var(--white);
    font-family: 'Raleway-medium';
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.dontWait{
    font-family: 'Raleway-Bold';
    font-size: 1.5rem;
}


nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: 'Raleway-semibold';
    font-size: 1rem;
    padding: 1.5rem 1rem;
    margin: 10px;
}

nav .navbar a:hover{
    color: var(--primary);
}

.iconCart {
    display: block;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-image: url(/icons/cart.svg);
    transform: scale(0.8,0.6);
    cursor: pointer;
    padding: 1.5rem 1rem;
}

.iconCart:hover,
.iconCart:focus {
    display: block;
    background-image: url(/icons/cart-1.svg);
    height: 5rem;
    width: 5rem;
    background-size: cover;
    transform: scale(0.8,0.6);
    padding: 1.5rem 1rem;
}


.btnOrder{
    background-color: var(--primary);
    color: var(--white);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--primary);
    width: 130px;
    cursor: pointer;
    font-family: 'Raleway-Medium';
}

.btnOrder:hover{
    background-color: var(--primary-hover);
}

.sectionHeading{
    font-family:"Raleway-bold";
    text-align:center;
    Position:relative;
    margin-bottom:6rem;
}

.sectionHeading:after{
    content:'';
    display:block;
    width: 100%;
    height:30px;
    background-image:url(/icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    bottom:-40px;
}

section.ourServices{
    background: var(--light);
}

section.ourServices .serviceCard{
    background: var(--white);
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    border-radius: 4px;
    position: relative;
}

section.ourServices .serviceCard .icon{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

section.ourServices .serviceCard h2{
    font-family: 'Raleway-Bold';
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

section.ourServices .serviceCard p{
    line-height: 1.6;
    margin-bottom: 1rem;
}

footer{
    background:var(--primary);
    padding:2rem 0;
}


footer.copyright{
    padding:1rem 0;
    background: var(--primary);
    color:var(--pure);
    text-align: center;
    font-size: 0.95rem;
}
footer.copyright a{
    color:var(--secondary);
    text-decoration: none;
    font-weight: bold;
}

.allOutlets,
.allPizzas{
    margin-top: 10rem;
}

.eachItem{
    position: relative;
    display: block;
    width: 80%;
    height: 400px;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lightgray);
    padding: 0 6rem;
}

.outletImage,
.pizzaImage{
    margin-left: -10rem;
}

.outletImage img,
.pizzaImage img{
    width: 45%;
    min-width: 58%;
}

.outletName,
.pizzaName{
    margin-bottom: 28px;
    text-transform: capitalize;
    text-align: center;
}

.outletContent,
.pizzaContent{
    max-width: 98rem;
    max-height: 250px;
    padding: 4.5rem;
    background: var(--white);
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,2%);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin-left: 4rem;
}

.eachItem .showOutletPizza,
.eachItem .showDetailPizza{
    cursor: pointer;
    position: absolute;
    margin-top: -105px;
    right: 25px;
    visibility: hidden;
}

.eachItem:hover .showOutletPizza,
.eachItem:hover .showDetailPizza{
    visibility: visible;
}

.imageContainer{
    text-align: center;
    margin-top: 4rem;
    margin-left: 185px;
    background: var(--ternarybg);
    width: 75%;
}

.pizzaHeader{
    text-align: center;
    margin-top: 8rem;
    margin-left: 3rem;
}

.pizzaDetailImage img{
    width: 25%;
    min-width: 30%;
}

.infoContainer{
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 4rem;
}

.emptyItems{
    position: relative;
    height: 400px;
    padding: 50px;
    border-radius: 20px;
}

.emptyItems .emptyContent{
    text-align: center;
    margin-top: -12rem;
}

.emptyContent .title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.5px;
}
.emptyContent .text{
    font-size: 18px;
}
.emptyItems .emptyImage{
    position: absolute;
    right: 16rem;
    top: -13rem;
    width: 700px;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../icons/no-data-found.svg);
}

.addToCart{
    text-align: center;
    margin-left: 3rem;
    margin-top: -3rem;
    margin-bottom: 2rem;
}

.addToCart input{
    width: 2rem;
    height: 2rem;
    font-size: 25px;
}

.addToCart h3{
    margin-top: 1rem;
}

.btn{
    width: 25px;
    background-color: var(--primary);
    border: none;
    outline: none;
    height: 30px;
    color: var(--pure);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background: var(--primary-hover);
}

.cartQty{
    display: inline-block;
    width: 25px;
}