
:root{
    --gray: #eee;
    --white: #fff;
    --dark: #000;
}

.hide{
    display: none;
}

.emptyItems{
    position: relative;
    height: 400px;
    padding: 50px;
    border-radius: 20px;
}

.emptyItems .emptyContent{
    text-align: center;
}

.emptyContent .title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.5px;
}
.emptyContent .text{
    font-size: 18px;
}
.emptyItems .emptyImage{
    position: absolute;
    right: 85px;
    top: 0px;
    width: 700px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../icons/no-data-found.svg);
}

.eachItem{
    position: relative;
    display: block;
    width: 75%;
    height: 400px;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray);
    padding: 0 6rem;
}

.outletImage img{
    width: 100%;
}

.outletContent{
    width: 110%;
    max-width: 98rem;
    max-height: 250px;
    padding: 4.5rem;
    background: var(--white);
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;

}

.outletImage{
    min-width: 15rem;
    max-width: 25rem;
    /* height: 20rem; */
    transform: translateX(-10rem);
    position: relative;
}

.outletName{
    margin-bottom: 28px;
}

/* .outletInfo{
    max-height: 140px;
    overflow: auto;
} */