
:root{
    --primary: #FE5F1E;
    --primary-hover: #b23301;
    --gray: #eee;
    --white: #fff;
    --dark: #000;
    --darkgray: #a9a9a9;
    --danger: #FE4545;
}

.swal-overlay--show-modal .swal-modal{
    margin-left: 155px !important;
}

.hide{
    display: none;
}

.allOutlets{
    margin-top: 50px;
}

.outletImage img{
    width: 100%;
}

.outletContent{
    width: 110%;
    max-width: 98rem;
    max-height: 250px;
    padding: 4.5rem;
    background: var(--white);
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,2%);
    display: flex;
    align-items: center;
    border-radius: .8rem;

}

.outletImage{
    min-width: 15rem;
    max-width: 25rem;
    transform: translateX(-10rem);
    position: relative;
}

.outletName{
    margin-bottom: 28px;
}

.eachItem .editOutlet,
.eachItem .showDetailOutlet{
    cursor: pointer;
    position: absolute;
    margin-top: -105px;
    right: 25px;
    visibility: hidden;
}

.eachItem:hover .editOutlet,
.eachItem:hover .showDetailOutlet{
    visibility: visible;
}

.inputField{
    margin: 10px 10px 10px 15rem !important;
}

.textarea{
    height: auto !important;
    border-radius: 20px !important;
    padding: 25px 11px;
    text-align: center !important;
}

textarea::placeholder{
    color: #a9a9a9 !important;
    font-weight: 500;
    transform: translateY(20px);
}


.inputField textarea, 
.inputField select{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--secondary);
}

.btn {
    width: 45% !important;
    margin: 10px 10px 10px 15rem !important;
    padding-top: 10px !important;
}
  
.btn:hover {
    background-color: var(--primary-hover);
}

.deleteOutlet{
    float: right;
    margin-top: -50px;
    cursor: pointer;
    font-weight: bold;
}

.deleteOutlet:hover{
    color: var(--danger);
}