<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Hut | Admin</title>
</head>
<body>

    <div class="pageWrap" data-uniqueId="{{uniqueId}}"  data-role="{{role}}">
        <div class="sidenav">
            <div class="menu">
                <h2 id="logo">PIZZA HUT</h2>
                <div class="userProfile">
                    <span class="profileInitials">H</span>
                </div>
                <h5>Hrishi</h5>
                <a href="#" class="active">Home</a>
                <a href="#">Home</a>
                <a href="#">Home</a>
                <a href="#">Logout</a>
            </div>
            <div class="body">
                <h1>Sidebar</h1>
                 <div class="mainContent"></div>
            </div>
        </div>
    </div>
</body>
</html>