<div class="pizzaHeader">
    <h1>Pizza Details</h1>
</div>

    <div class="imageContainer">
        <div class="pizzaDetailImage">
            <img src="/images/app/{{image}}" alt="pizza image">
        </div>
    </div>
    <div class="infoContainer">
        <h1>{{title}}</h1>
        <h4>&#8377;{{price}}</h4>
        <h3>{{size}}</h3>
    </div>

<div class="addToCart hide">
    <button class="btn">-</button>
    <span class="cartQty">0</span>
    <button class="btn">+</button>
</div>
