<div class="editOutletForm">
    <h1>Outlet Details</h1>
    
    <div class="inputField inputFieldName">
        <i class="fas fa-store-alt"></i>
        <input class="inputName" name="name" value="{{name}}" disabled>
    </div>
   
    <div class="inputField textarea inputFieldAddress">
        <i class="fas fa-map-marked-alt"></i>
        <textarea name="address" class="inputAddress" value="{{address}}" cols="30" rows="10" disabled>{{address}}</textarea>
    </div>
    
    <div class="inputField inputFieldStatus">
        <i class="fas fa-store-alt"></i>
        <input class="inputStatus" name="status" value="" disabled>
    </div>
    
    <div class="inputField inputFieldOwner">
        <i class="fas fa-user-shield"></i>
        <input class="inputOwner" name="owner" value="{{ownerName}}" disabled>
    </div>
</div>
