
<div class="outlets">
    <h1 class="outletName">{{name}}</h1>
        <span class="editOutlet hide" title="edit"><i class="fas fa-edit fa-2x"></i></span>
    <div class="outletContent">
        
        <div class="outletImage">
            <img src="/images/site/store.png" alt="outlet image">
        </div>
        <div class="outletInfo">
        
        <h3 class="outletOwner">{{ownerName}}</h3>
        <p>Owner</p>
        </div>
    </div>
</div>