
<div class="pizzas">
    <h1 class="pizzaName">{{title}}</h1>
        <span class="editPizza hide" title="edit pizza"><i class="fas fa-edit fa-2x"></i></span>
        <span class="showDetailPizza hide" title="show details"><i class="fas fa-clipboard-list fa-2x"></i></span>
    <div class="pizzaContent">
        
        <div class="pizzaImage">
            <img src="/images/app/{{image}}" alt="pizza image">
        </div>
         <div class="pizzaInfo">
            <h3 class="pizzaSize">{{size}}</h3>
            <p>size</p>
        </div>
    </div>
   
</div>