   <div class="container">
      <div class="formContainer">
      
        <div class="auth">
          <form action="#" class="signInForm otpForm">
            <h2 class="title">Forgot Password</h2>
            <div class="emailError">
              <span class="formError emailError"></span>
            </div>
            <div class="inputField inputFieldEmail">
              <i class="fas fa-envelope"></i>
              <input type="email" class="inputEmail" name="email" value="" placeholder="Email" autocomplete="off" spellcheck="false">
            </div>
            <input type="submit" value="Send otp" class="btn btnForgot">
          </form>
          <form action="#" class="signInForm resetForm hide">
            <h2 class="title">Forgot Password</h2>
            <div class="otpError">
              <span class="formError"></span>
            </div>
            <div class="inputField inputFieldOtp">
              <i class="fas fa-key"></i>
              <input type="number" class="inputOtp" name="otp" value="" placeholder="One time password" autocomplete="off">
            </div>
             <div class="passwordError">
              <span class="formError passwordError"></span>
            </div>
            <div class="inputField inputFieldPassword">
              <i class="fas fa-lock"></i>
              <input type="password" class="inputPassword" name="password" value="" placeholder="Password" autocomplete="off" spellcheck="false">
              <span class="passwordIcon" id="togglePassword"></span>
            </div>
             <div class="confirmPasswordError">
              <span class="formError confirmPasswordError"></span>
            </div>
            <div class="inputField inputFieldConfirmPassword">
              <i class="fas fa-lock"></i>
              <input type="password" class="inputConfirmPassword" name="confirmPassword" value="" placeholder="Confirm Password" autocomplete="off" spellcheck="false">
            </div>
            <input type="submit" value="Reset password" class="btn btnReset">
          </form>
        </div>
      </div>

      <div class="panelsContainer">
        <div class="panel leftPanel">
          <div class="content">
            <h3>Remember password ?</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p>
            <a href="#" class="btn transparent login" id="signUpBtn">
              Log In
            </a>
            <br><br>
            <a href="#" class="btn transparent home" id="homeLogin">Back to home</a>
          </div>
        </div>
      </div>
    </div>