   <div class="container">
      <div class="formContainer">
      
        <div class="auth">
          <form action="#" class="signInForm">
            <h2 class="title">Login In</h2>
            <div class="emailError">
              <span class="formError emailError"></span>
            </div>
            <div class="inputField inputFieldEmail">
              <i class="fas fa-user"></i>
              <input type="email" class="inputEmail" name="email" value="" placeholder="Email" autocomplete="off" spellcheck="false">
            </div>
            <div class="passwordError">
              <span class="formError"></span>
            </div>
            <div class="inputField inputFieldPassword">
              <i class="fas fa-lock"></i>
              <input type="password" class="inputPassword" name="password" value="" placeholder="Password" autocomplete="off" spellcheck="off">
              <span class="passwordIcon" id="togglePassword"></span>
            </div>
            <input type="submit" value="login" class="btn btnLogin">
          </form>
          <div class="forgot">
            <a href="/forgotPassword" class="resetPassword">Forgot Password?</a>
          </div>
        </div>
      </div>

      <div class="panelsContainer">
        <div class="panel leftPanel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p>
            <a href="#" class="btn transparent signup" id="signUpBtn">
              Register
            </a>
            <br><br>
            <a href="#" class="btn transparent home" id="homeLogin">Back to home</a>
          </div>
        </div>
      </div>
    </div>