<div class="newOutletForm">
    <h1>Add New Outlet</h1>
    <div class="nameError">
        <span class="formError nameError"></span>
    </div>
    <div class="inputField inputFieldName">
        <i class="fas fa-store-alt"></i>
        <input type="name" class="inputName" name="name" value="" placeholder="Store Name" autocomplete="off" spellcheck="false">
    </div>
    <div class="addressError">
        <span class="formError addressError"></span>
    </div>
    <div class="inputField textarea inputFieldAddress">
        <i class="fas fa-map-marked-alt"></i>
        <textarea name="address" class="inputAddress" value="" placeholder="Store Address" cols="30" rows="10" autocomplete="off" spellcheck="off"></textarea>
    </div>
    <div class="ownerError">
        <span class="formError ownerError"></span>
    </div>
    <div class="inputField inputFieldOwner">
        <i class="fas fa-user-shield"></i>
        <select name="owner" class="inputOwner" placeholder="Outlet owner" id="outletOwner">
            <option value="" selected="false" disabled="disabled">Outlet Owner</option>
        </select>
    </div>
    <div class="btn saveOutlet">Save Outlet</div>
</div>
