<div class="container signUpMode">
      <div class="formContainer">
        <div class="auth">
          <form action="#" class="signUpForm">
            <h2 class="title">Sign Up</h2>
             <div class="nameError">
              <span class="formError nameError"></span>
            </div>
            <div class="inputField inputFieldName">
              <i class="fas fa-user"></i>
              <input type="text" class="inputName" name="name" value="" placeholder="Name" autocomplete="off" spellcheck="false">
            </div>
             <div class="emailError">
              <span class="formError emailError"></span>
            </div>
            <div class="inputField inputFieldEmail">
              <i class="fas fa-envelope"></i>
              <input type="email" class="inputEmail" name="email" value="" placeholder="Email" autocomplete="off" spellcheck="false">
            </div>
             <div class="contactError">
              <span class="formError contactError"></span>
            </div>
            <div class="inputField inputFieldContact">
                <i class="fas fa-phone-alt"></i>
                <input type="number" class="inputContact" name="contact" value="" placeholder="Contact Number" autocomplete="off" spellcheck="false">
            </div>
             <div class="passwordError">
              <span class="formError passwordError"></span>
            </div>
            <div class="inputField inputFieldPassword">
              <i class="fas fa-lock"></i>
              <input type="password" class="inputPassword" name="password" value="" placeholder="Password" autocomplete="off" spellcheck="false">
              <i class="bi bi-eye-slash" id="togglePassword"></i>
            </div>
             <div class="confirmPasswordError">
              <span class="formError confirmPasswordError"></span>
            </div>
            <div class="inputField inputFieldConfirmPassword">
              <i class="fas fa-lock"></i>
              <input type="password" class="inputConfirmPassword" name="confirmPassword" value="" placeholder="Confirm Password" autocomplete="off" spellcheck="false">
            </div>
            <input type="submit" class="btn btnRegister" value="Sign up">
          </form>
        </div>
      </div>

      <div class="panelsContainer">
        <div class="panel leftPanel"></div>
        <div class="panel rightPanel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <a href="/login" class="btn transparent" id="signInBtn">
              Login In
            </a>
            <br><br>
            <a href="/" class="btn transparent" id="homeLogin">Back to home</a>
          </div>
        </div>
      </div>
</div>