<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | Pizza Hut</title>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link> 
</head>
<body>

      <div class="mainContent"></div>

      <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script type="text/javascript" src="/js/lib/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="/js/lib/underscore/underscore.min.js"></script>
      <script type="text/javascript" src="/js/lib/backbone/backbone.min.js"></script>
      <script type="text/javascript" src="/js/lib/marionette/backbone.marionette.min.js"></script>
      <script type="text/javascript" src="/js/lib/handlebars/handlebars.min.js"></script>
      <script type="text/javascript" src="/js/loadTemplate.js"></script>
      <script type="text/javascript" src="/js/authManager.js"></script>
      <script type="text/javascript">
            authenticationManager.start();
     </script>
</body>
</html>