<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Pizza Hut</title>
    <link rel="stylesheet" href="/css/auth.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>
<body>
   <div class="container">
      <div class="formContainer">
      
        <div class="auth">
          <form action="#" class="signInForm">
            <h2 class="title">Login In</h2>
            <div class="inputField">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" />
            </div>
            <div class="inputField">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn solid" />
          </form>
        </div>
      </div>

      <div class="panelsContainer">
        <div class="panel leftPanel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p>
            <a href="/register" class="btn transparent" id="signUpBtn">
              Sign up
            </a>
            <br><br>
            <a href="/" class="btn transparent" id="homeLogin">Back to home</a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>